name: CI-CD-LAB5

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Decode kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_B64 }}" | base64 -d > kubeconfig.yaml

      - name: Check kubeconfig file
        run: ls -l kubeconfig.yaml

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3

      - name: Ensure namespace lab5 exists
        run: |
          kubectl --kubeconfig kubeconfig.yaml create namespace lab5 --dry-run=client -o yaml | kubectl apply -f -

      - name: Setup Helm
        uses: azure/setup-helm@v3

      - name: Deploy CRM with Helm
        run: |
          helm upgrade --install crm ./chart-crm -n lab5 --kubeconfig kubeconfig.yaml

      - name: Deploy Gateway with Helm
        run: |
          helm upgrade --install gateway ./chart-gateway -n lab5 --kubeconfig kubeconfig.yaml

      - name: Deploy Billing with Helm
        run: |
          helm upgrade --install billing ./chart-billing -n lab5 --kubeconfig kubeconfig.yaml

      - name: Deploy Notification with Helm
        run: |
          helm upgrade --install notification ./chart-notification -n lab5 --kubeconfig kubeconfig.yaml
